// Default Theme Color Palette

// Red
$red-light: #a07155;
$red-dark: #a07155;

// Pink
$pink-light: #8b5e3c;
$pink-dark: #8b5e3c;

// Purple
$purple-light: #9c7a73;
$purple-dark: #9c7a73;

// Blue
$blue-light: #5f6a66;
$blue-dark: #5f6a66;

// Teal
$teal-light: #5f6a66;
$teal-dark: #5f6a66;

// Green
$green-light: #50fa7b;
$green-dark: #4be772;

$sea-light: #66ffb5;
$sea-dark: #48db94;

// Yellow
$yellow-light: #b89c72;
$yellow-dark: #b89c72;

// Orange
$orange-light: #b0753c;
$orange-dark: #b0753c;

// Grey
$grey-050: #1E140F;
$grey-100: #1E140F;
$grey-150: #1E140F;
$grey-200: #1E140F;
$grey-250: #1E140F;
$grey-300: #1E140F;
$grey-350: #1E140F;
$grey-400: #1E140F;
$grey-450: #1E140F;
$grey-500: #1E140F;
$grey-550: #1E140F;
$grey-600: #1E140F;
$grey-650: #1E140F;
$grey-700: #1E140F;
$grey-750: #1E140F;
$grey-800: #1E140F;
$grey-850: #1E140F;
$grey-900: #1E140F;
$grey-950: #1E140F;

// White
$white: #d5c4a1;

// Black
$black: #1E140F;

// Button
$button-close: if($variant == 'light', #a07155, #a07155);
$button-max: if($variant == 'light', #5f6a66, #5f6a66);
$button-min: if($variant == 'light', #b89c72, #b89c72);
