// Default Theme Color Palette

// Red
$red-light: #a07155;
$red-dark: #a07155;

// Pink
$pink-light: #8b5e3c;
$pink-dark: #8b5e3c;

// Purple
$purple-light: #9c7a73;
$purple-dark: #9c7a73;

// Blue
$blue-light: #5f6a66;
$blue-dark: #5f6a66;

// Teal
$teal-light: #5f6a66;
$teal-dark: #5f6a66;

// Green
$green-light: #50fa7b;
$green-dark: #4be772;

$sea-light: #66ffb5;
$sea-dark: #48db94;

// Yellow
$yellow-light: #b89c72;
$yellow-dark: #b89c72;

// Orange
$orange-light: #b0753c;
$orange-dark: #b0753c;

// Grey
$grey-050: #a1866f;
$grey-100: #a1866f;
$grey-150: #a1866f;
$grey-200: #a1866f;
$grey-250: #a1866f;
$grey-300: #a1866f;
$grey-350: #a1866f;
$grey-400: #a1866f;
$grey-450: #a1866f;
$grey-500: #a1866f;
$grey-550: #a1866f;
$grey-600: #a1866f;
$grey-650: #a1866f;
$grey-700: #a1866f;
$grey-750: #a1866f;
$grey-800: #836953;
$grey-850: #6b4e32;
$grey-900: #2a1c14;
$grey-950: #241810;

// White
$white: #d5c4a1;

// Black
$black: #1E140F;

// Button
$button-close: if($variant == 'light', #a07155, #a07155);
$button-max: if($variant == 'light', #43db68, #4be772);
$button-min: if($variant == 'light', #b89c72, #b89c72);
